@font-face {
    font-family: EloquiaBold;
    src: url("./fonts/Typekiln\ -\ EloquiaDisplay-ExtraBold.otf") format("opentype");
}

@font-face {
    font-family: EloquiaLight;
    src: url("./fonts/Typekiln\ -\ EloquiaText-ExtraLight.otf") format("opentype");
}

@font-face {
    font-family: BokoniqueRegular;
    src: url("./fonts/Bokonique-Regular.otf") format("opentype");
}

.App {
    text-align: center;
    height: 100vh;
    background-color: #02020a;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
}

p {
    font-family: BokoniqueRegular;
    font-size: 2rem;
}

.Header {
    margin-top: 36px;
    padding: 16px;
    font-size: 3rem;
    font-family: EloquiaBold;
    line-height: 70%;
}

.Header span {
    font-family: EloquiaLight;
    font-size: 2.2rem;
}

.Footer p {
    font-size: medium;
    font-family: BokoniqueRegular;
    font-weight: 100;
}