@font-face {
    font-family: EloquiaBold;
    src: url("./fonts/Typekiln\ -\ EloquiaDisplay-ExtraBold.otf") format("opentype");
}

@font-face {
    font-family: EloquiaLight;
    src: url("./fonts/Typekiln\ -\ EloquiaText-ExtraLight.otf") format("opentype");
}

@font-face {
    font-family: BokoniqueRegular;
    src: url("./fonts/Bokonique-Regular.otf") format("opentype");
}

@font-face {
    font-family: Neuzeit;
    src: url("./fonts/Neuzeit\ Office\ W01\ Regular.ttf") format("truetype");
}

.App {
    text-align: center;
    height: 100vh;
    background-color: #02020a;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
}

p {
    font-family: BokoniqueRegular;
    font-size: 2rem;
}

.Header {
    margin-top: 36px;
    padding: 16px;
    font-size: 3rem;
    font-family: EloquiaBold;
    line-height: 70%;
}

.Header span {
    font-family: EloquiaLight;
    font-size: 2.2rem;
    text-decoration: underline 1px;
}

.Link {
    text-decoration: none;
    font-family: Neuzeit;
    font-weight: 600;
    color: #02020a;
    background-color: #ffffff;
    padding: 14px;
    border-radius: 10px;
    border: 1px solid #ffffff;
    margin: 12px 5vh 12px 5vh;
}

.Link:hover {
    color: #ffffff;
    background-color: #02020a;
    border: 1px solid #ffffff;
    transition: linear 250ms;
}

.Navigation {
    font-size: 1.5rem;
    margin-top: 36px;
}

.MainLinks {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column
}

.Footer p {
    font-size: medium;
    font-family: BokoniqueRegular;
    font-weight: 100;
}